[submodule "pack/plugins/start/a.vim"]
	path = pack/plugins/start/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "pack/plugins/start/vim-fugitive.git"]
	path = pack/plugins/start/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-headerguard"]
	path = pack/plugins/start/vim-headerguard
	url = https://github.com/drmikehenry/vim-headerguard
[submodule "pack/plugins/start/vim-colorschemes"]
	path = pack/plugins/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/plugins/start/Tagbar"]
	path = pack/plugins/start/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/vim-easymotion"]
	path = pack/plugins/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "pack/plugins/start/vim-merginal"]
	path = pack/plugins/start/vim-merginal
	url = http://github.com/idanarye/vim-merginal.git
[submodule "pack/plugins/start/c.vim"]
	path = pack/plugins/start/c.vim
	url = https://github.com/vim-scripts/c.vim.git
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/plugins/start/vim-multiple-cursors"]
	path = pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/vim-gutentags"]
	path = pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/plugins/start/vim-preview"]
	path = pack/plugins/start/vim-preview
	url = https://github.com/skywind3000/vim-preview.git
[submodule "pack/plugins/start/gutentags_plus"]
	path = pack/plugins/start/gutentags_plus
	url = https://github.com/skywind3000/gutentags_plus.git
[submodule "pack/plugins/start/jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/plugins/start/LeaderF"]
	path = pack/plugins/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "pack/plugins/start/bash-support.vim"]
	path = pack/plugins/start/bash-support.vim
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "pack/plugins/start/vim-dirdiff"]
	path = pack/plugins/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule "nerdtree-git-plugin"]
	path = nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/plugins/start/vimgitlog"]
	path = pack/plugins/start/vimgitlog
	url = https://github.com/PAntoine/vimgitlog.git
[submodule "pack/plugins/start/tig-explorer.vim"]
	path = pack/plugins/start/tig-explorer.vim
	url = https://github.com/iberianpig/tig-explorer.vim.git
[submodule "pack/plugins/start/vim-venu"]
	path = pack/plugins/start/vim-venu
	url = https://github.com/Timoses/vim-venu.git
[submodule "pack/plugins/start/gitv"]
	path = pack/plugins/start/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "pack/plugins/start/deol.nvim"]
	path = pack/plugins/start/deol.nvim
	url = https://github.com/Shougo/deol.nvim.git
[submodule "pack/plugins/start/agit.vim"]
	path = pack/plugins/start/agit.vim
	url = https://github.com/cohama/agit.vim.git
[submodule "rainbow"]
	path = pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
